<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🏫 University Management System</title>
    <style>
        body {
            max-width: 70%;
            margin: 0 auto;
            background-color: #111111;
            color: goldenrod;
            font-size: 150%;
        }

        a {
            color: cadetblue;
        }

        p {
            color: bisque;
        }
    </style>
</head>

<body>
    <!-- <div>
        <img src="./imgs/github-icon.png" alt="github-icon">
    </div> -->
    <h1>🏫 University Management System</h1>
    <p>Develop a Node.js Express application with TypeScript as the programming language, integrating MongoDB with
        Mongoose for CRUD.</p>
    <a href="https://github.com/aHasnat1997/university-management-system-typescript.git">Repo_Link🔗</a>
</body>

</html>